#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    keymap {
        compatible = "zmk,keymap";

        Normal {
            display-name = "NOR";
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E   &kp R         &kp T                                   &kp UP                &kp Y        &kp U          &kp I          &kp O    &kp P     &kp BSPC
&kp LEFT_CONTROL  &kp A  &kp S  &kp D   &kp F         &kp G                         &kp LEFT  &kp ENTER  &kp RIGHT  &kp H        &kp J          &kp K          &kp L    &kp SEMI  &kp ENTER
&kp LEFT_SHIFT    &kp Z  &kp X  &kp C   &kp V         &kp B               &trans              &kp DOWN              &kp N        &kp M          &kp COMMA      &kp DOT  &kp FSLH  &kp ESC
                                &tog 2  &kp LEFT_GUI  &mt LEFT_ALT SPACE                                            &lt 1 SPACE  &kp RIGHT_ALT  &kp RIGHT_GUI
            >;
        };

        Numbers {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                   &trans          &kp N6  &kp N7  &kp N8  &kp N9            &kp N0             &kp BACKSPACE
&trans  &none   &none   &none   &none   &none            &trans  &trans  &trans  &none   &none   &none   &kp MINUS         &kp EQUAL          &kp SINGLE_QUOTE
&trans  &none   &none   &none   &none   &none   &none            &trans          &none   &none   &none   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp RIGHT_SHIFT
                        &trans  &trans  &trans                                   &trans  &trans  &trans
            >;

            label = "NUM";
        };

        Options {
            display-name = "SET";
            bindings = <
&rgb_ug RGB_TOG  &rgb_ug RGB_COLOR_HSB(184,100,50)  &none            &none            &none  &bl BL_TOG                   &trans          &none       &none         &none       &none  &none  &soft_off
&rgb_ug RGB_BRI  &rgb_ug RGB_SAI                    &rgb_ug RGB_HUI  &rgb_ug RGB_EFF  &none  &bl BL_INC           &trans  &trans  &trans  &none       &none         &none       &none  &none  &none
&rgb_ug RGB_BRD  &rgb_ug RGB_SAD                    &rgb_ug RGB_HUD  &rgb_ug RGB_EFR  &none  &bl BL_DEC  &none            &trans          &none       &none         &none       &none  &none  &none
                                                                     &trans           &none  &none                                        &bt BT_PRV  &bt BT_SEL 0  &bt BT_NXT
            >;
        };
    };
};
